body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: hwb(0 100% 0%);     
    
}

.background {
    display: flex;
    height: 100vh; 
    justify-content: center;
    align-items: center;
    position: relative;
}

.background img {
    max-height: 100vh;
    width: auto;
    display: block;
}

.game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1; 
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:100px
}


.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 75px;
    width: 40%;
    max-width: 250px;

    position: relative;
    left: 400px;
    margin: 0px;
}

.title{

    width: 100%;
    max-width: 300px;
    height: auto;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}

.buttons button {
    background-color: rgb(255, 255, 255); 
    color: rgb(255, 148, 148);
    border: none;                   
    padding: 12px 25px;           
    font-family: 'Trebuchet MS', sans-serif; 
    font-size: 20px;                
    border-radius: 5px;     
    
    
}

.lottie {
    position: relative;
    flex-grow: 1;
    width: 813px; 
    height: 90vh;
    max-width: 40vh;
    margin: auto;
    overflow: hidden;
    border: none;
    background-color: transparent;
}

img.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none
}

.buttons2 {

    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;

}

.buttons2 button {
    background-color: rgb(255, 148, 148);
    color: rgb(255, 255, 255);
    border: none;                   
    padding: 12px 25px;           
    font-family: 'Trebuchet MS', sans-serif; 
    font-size: 20px;                
    border-radius: 5px;    
}